<!DOCTYPE html>
<html lang="ro">

<head>

<meta charset="UTF-8">
<title>SmartPontaj</title>

<link rel="manifest" href="/static/manifest.json">

<meta name="theme-color" content="#2c3e50">

<link rel="apple-touch-icon" href="/static/icon-192.png">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<style>

body{
background:#f5f7fb;
}

.sidebar{
height:100vh;
background:#1f2d3d;
color:white;
padding:20px;
}

.sidebar a{
color:white;
text-decoration:none;
display:block;
padding:10px;
border-radius:6px;
margin-bottom:5px;
}

.sidebar a:hover{
background:#3b4b5c;
}

.card{
border:none;
box-shadow:0 3px 10px rgba(0,0,0,0.08);
}

</style>

</head>

<body>

<nav class="navbar navbar-dark bg-dark navbar-expand-lg">

<div class="container">

<a class="navbar-brand" href="/dashboard">
SmartPontaj
</a>

<div>

<a class="btn btn-outline-light btn-sm" href="/dashboard">Dashboard</a>

<a class="btn btn-outline-light btn-sm" href="/pontaj">Pontaj</a>

{% if current_user.role == "admin" %}
<a href="/muncitori">Muncitori</a>
<a href="/admin">Admin</a>
{% endif %}

{% if current_user.role in ["admin","manager"] %}
<a href="/raport_lunar">Raport</a>
<a href="/fluturas">Fluturaș</a>
{% endif %}

<a class="btn btn-danger btn-sm" href="/logout">Logout</a>

</div>

</div>

</nav>

<div class="col-10 p-4">

{% block content %}
{% endblock %}

</div>

</div>

</div>

<script>

if ('serviceWorker' in navigator) {

  navigator.serviceWorker.register('/static/sw.js')

  .then(function() {
    console.log("Service Worker registered");
  });

}

</script>

<script>

if ("Notification" in window) {

Notification.requestPermission().then(function(permission){

if(permission === "granted"){

setTimeout(function(){

new Notification("SmartPontaj",{
body: "Nu uita să completezi pontajul de azi."
});

},10000);

}

});

}

</script>

</body>
</html>