{% extends "base.html" %}

{% block content %}

<h2>Muncitori</h2>

<form method="POST">

<input name="nume" placeholder="Nume muncitor">

<input name="tarif" placeholder="Tarif / ora">

<button class="btn btn-primary">Adaugă</button>

<td>
<a href="/edit_muncitor/{{ m.id }}" class="btn btn-sm btn-warning">Edit</a>
</td>

</form>

<hr>

<table class="table">

<tr>
<th>ID</th>
<th>Nume</th>
<th>Tarif</th>
</tr>

{% for m in muncitori %}

<tr>
<td>{{ m.id }}</td>
<td>{{ m.nume }}</td>
<td>{{ m.tarif_ora }} lei</td>
</tr>

{% endfor %}

</table>

{% endblock %}