{% extends "base.html" %}

{% block content %}

<h2>Pontaj zilnic</h2>

<form method="POST">

<div class="d-flex align-items-center mb-3">

    <a href="{{ url_for('pontaj', data=data_selectata, action='prev') }}"
       class="btn btn-secondary me-2">⬅ Previous</a>

    <input type="date"
           class="form-control text-center"
           value="{{ data_selectata }}"
           disabled
           style="max-width: 200px;">

    <a href="{{ url_for('pontaj', data=data_selectata, action='next') }}"
       class="btn btn-secondary ms-2">Next ➡</a>

</div>

<table class="table table-bordered">
    <tr>
        <th>Muncitor</th>
        <th>Start</th>
        <th>Stop</th>
    </tr>

    {% for m in muncitori %}
    <tr>
        <td>{{ m.nume }} ({{ m.tarif_ora }} lei/h)</td>

        <td>
          <input type="time"
     		name="start_{{ m.id }}"
       		class="form-control"
     		value="{{ pontaje[m.id].start if m.id in pontaje else '' }}"
     		step="60">
        </td>

        <td>
            <input type="time"
                   name="stop_{{ m.id }}"
                   class="form-control"
                   value="{{ pontaje[m.id].stop if m.id in pontaje else '' }}">
        </td>
    </tr>
    {% endfor %}
</table>

<div class="mt-4">
    <div class="card p-3 bg-light">
        <h5>Total zi</h5>
        <p><strong>Ore:</strong> {{ total_ore_zi }}</p>
        <p><strong>Plată:</strong> {{ total_plata_zi }} lei</p>
    </div>
</div>

<button class="btn btn-success">Salvează</button>
<a href="{{ url_for('dashboard') }}" class="btn btn-secondary">Înapoi</a>

</form>

{% endblock %}