{% extends "base.html" %}

{% block content %}

<h2>Raport lunar</h2>

<form>

<input type="month" name="luna" value="{{ luna }}">

<button class="btn btn-primary">Vezi</button>

</form>

<a class="btn btn-success"
href="{{ url_for('export_lunar', luna=luna) }}">
Export Excel
</a>

<table class="table mt-3">

<tr>

<th>Muncitor</th>
<th>Total ore</th>
<th>Total plată</th>

</tr>

{% for r in rezultate %}

<tr>

<td>{{ r[0] }}</td>
<td>{{ r[1] }}</td>
<td>{{ r[2] }} lei</td>

</tr>

{% endfor %}

</table>

{% endblock %}