{% extends "base.html" %}

{% block content %}

<h2>Muncitori</h2>

<form method="POST">

<input name="nume" placeholder="Nume muncitor" required>

<input name="tarif" placeholder="Tarif / ora" type="number" step="0.01" required>

<button class="btn btn-primary">Adauga</button>

</form>

<hr>

<table class="table table-bordered">

<tr>
<th>ID</th>
<th>Nume</th>
<th>Tarif</th>
</tr>

{% for m in muncitori %}

<tr>
<td>{{ m.id }}</td>
<td>{{ m.nume }}</td>
<td>{{ m.tarif_ora }} lei</td>
</tr>

{% endfor %}

</table>

{% endblock %}